@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "Open Sans";
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  font-size: 12px;
  top: -8px;
  right: -10px;
  color: white;
  background-color: #dc5d46;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
